
/*
Colors
1) Primary Brend #4D5AE5;
2) Pressed state #404BBF;
3) Dark #2E2F42;
4) Success #31D0AA;
5) Text #434455;
6) Subtle text #8E8F99;
7) Accent: #E7E9FC;
8) Light #F4F4FD;
9) Modal overlay #2E2F42;
10) Hero background #2E2F42;
*/

html {
    box-sizing:border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-brend: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --white: #FFFFFF;
}


.body {
margin: 0;
background-color: var(--white);
color: var(--text);
font-family: Roboto, sans-serif;
}

.list {
list-style: none;
padding: 0;
margin: 0;
}

.link {
text-decoration: none;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
color: var(--text);
}

.accent {
    color: var(--primary-brend);
}

.container {
padding-left: 12px;
padding-right: 12px;
margin-left: auto;
margin-right: auto;
width: 1158px;
outline: 2px solid tomato;
}

.logo-dark {
margin-top: 24px;
margin-bottom: 24px;
margin-right: 76px;

color:var(--dark);

font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 1,33;
letter-spacing: 0.03;
text-decoration: none;
text-transform: uppercase;
}

.logo-dark:hover,
.logo-dark:focus {
color: var(--pressed-state);
}

.logo-light {

padding: 0px;
margin-top: 0px;
margin-bottom: 16px;
margin-left: 0px;

color:var(--light);

font-family: Raleway;
font-size: 18px;
font-weight: 800;
line-height: 1,33;
letter-spacing: 0.03;
text-decoration: none;
text-transform: uppercase
}

.logo-light:hover,
.logo-light:focus {
color: var(--pressed-state)
}

/* site-nav */
.site-nav {
display: flex;
}

.site-nav .item + .item {
margin-left: 40px;
}

.site-nav .item:not(:last-child) {
margin-right: 40px;
}

.main-nav {
display: flex;
align-items: center;
}

.site-nav .link {
display: block;
padding-top: 24px;
padding-bottom: 24px;

color: var(--dark);

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-decoration: none;
}


.site-nav .link:hover, 
.site-nav .link:focus {
color: var(--pressed-state);
}

.site-nav .link.current {
color: var(--primary-brend);
}

.address .link {
color: var(--dark);
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-decoration: none;
}

.address {
display: flex;
margin-left: auto;
}

/* hero */
.hero-index {
background-color: var(--dark);
text-align: center;
}

.portfolio {
background-color: var(--white);
}

.hero-index-title {
margin-bottom: 48px;

color: var(--white);

font-style: inherit;
font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.2;
outline: 2px solid tomato;
}

/* section */

.section.nav {
padding-top: 0px;
padding-bottom: 0px;
margin-bottom: 310px;
}

.section {
padding-top: 0px;
padding-bottom: 0px;
margin-top: 120px;
margin-bottom: 0px;
}

.section.no-padding {
padding-top: 0px;
padding-bottom: 0px;
margin-top: 120px;
margin-bottom: 0px;
}

.section-title {
margin-top: 0;
margin-bottom: 72px;
padding: 0px;
color: var(--text);

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.2;
text-transform: capitalize;
outline: 2 px solid tomato;
}

.section-title.centered {
text-align: center;
}

.title {
padding: 0px;
margin-top: 0px;
margin-bottom: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.2;
color:var(--text);
}

/* footer */
.footer {

padding-top: 100px;
padding-bottom: 100px;

background-color:var(--dark);
color:var(--accent);
}

/* features */
.feature-list .title {
margin-top: 0px;
margin-bottom: 8px;
color:var(--text);
}

.feature-list {
display:flex;
flex-wrap: nowrap;
}

.feature-list .item {
width: 300px;
}

.feature-list .item:not(:last-child){
margin-right: 24px;
}

.feature-container {
margin-bottom: 120px;
}

/* Doing*/

.doing-list {
display:flex;
justify-content: center;
}

.doing-list .item:not(:last-child) {
margin-right: 24px;
}

.team-list {
display: flex;
justify-content: center;
}

.team-list .item:not(:last-child){
margin-right: 24px;
}

.team-list > .item > .title,
.team-list > .item > .text {
text-align: center;
}

/* filter btns */
.button-list {
display:flex;
justify-content: center;
}

.button-list .item:not(:last-child) {
margin-right: 24px;
}

.filter-list {
margin-top: 72px;
}

.filter-list {
display: flex;
flex-wrap: wrap;
}

.filter-list .item.item {
width: calc((100%-48px)/3);
margin-right: 24px;
margin-bottom: 48px;
padding-right: 0px;
padding-left: 0px;
}

.filter-list .item:nth-child(3n) {
margin-right: 0px;
}

.filter-list .item:nth-child(-n+3) {
margin-bottom: 0px;
}


/* Button */
.button {
display: inline-block;
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
text-align: center;

color: var(--white);
background: var(--primary-brend);
border: 1px solid transparent;

text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04;
}

.button:hover,
.button:focus {
background-color: var(--pressed-state);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter-btn {
display: inline-block;
box-sizing: border-box;
border-radius: 4px;
padding: 12px 24px;
text-align: center;

color: var(--primary-brend);
background: var(--light);
border: 1px solid var(--accent);

text-decoration: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04;
}


.filter-btn:hover,
.filter-btn:focus {
color: var(--white);
background-color: var(--pressed-state);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* paragraph */

.text {
margin-top: 0;
margin-bottom: 120px;

font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.2;
outline 2px solid tomato;
}

.team-text {
padding: 0px;
margin-bottom: 32px;
}

.feature-text {
padding: 0px;
margin-top: 0px;
margin-bottom: 0px;
}

.footer-text {
width: 256px;
margin-top: 16px;
margin-bottom: 0px;
padding: 0px;
}

.portfolio-text {
color: var(--text);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.2;
}

.portfolio-text:hover {
color: var(--text);
}

/*
Fuckup check
.box{
outline: 2px solid tomato;
}
*/
